/** ==>style for all **/
* {
    margin: 0;
    padding: 0;
}

ul, ol, dl {
    list-style: none;
}

input, select, textarea {
    border: none;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    color: #fff;
    font: 12px/20px "SimSun","ו","Arial Narrow",HELVETICA;
}

a {
    text-decoration: none;
}

/** ==>set page scale **/
#outer-container {
    overflow: hidden;
    position: relative;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

    #outer-container .page {
        background-size: cover;
        background-position: center center;
        position: absolute;
    }

    #outer-container .content {
        width: 640px;
        height: 1008px;
        position: absolute;
        overflow: visible;
        transform-origin: 0px 0px 0px;
        -ms-transform-origin: 0px 0px 0px;
        -webkit-transform-origin: 0px 0px 0px;
        -moz-transform-origin: 0px 0px 0px;
        -o-transform-origin: 0px 0px 0px;
    }

.logo {
    width: 268px;
    height: 97px;
    position: fixed;
    background: url(../images/logo.png) no-repeat center center;
    z-index: 1;
    right: 10px;
    top: 10px;
}

/** ->>loading **/
#loading .content {
    text-align: center;
    line-height: 1008px;
    color: green;
    font-size: 50px;
}

/** ->>page1 **/
 #p1{background:url(../images/p1-bg.png) no-repeat; background-size:cover;} */
/*#p1 .content {
    background: url(../images/p1-bg.png) no-repeat;
}*/

.objmove {
    width: 31px;
    height: 30px;
    position: absolute;
    top: 900px;
    z-index: -1;
    background: url(../images/p.png) no-repeat center center;
}

@-webkit-keyframes btn {
    from {
        -webkit-transform: scale(0.8);
        opacity: 0.2;
    }

    to {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.move {
    -webkit-animation: btn alternate ease-in-out infinite 1.5s;
}

.p1-btn {
    width: 315px;
    height: 319px;
    background: url(../images/p1-btn.png) no-repeat center center;
    position: absolute;
    left: 162px;
    top: 212px;
    z-index: 2;
    -webkit-animation: btn alternate ease-in-out infinite 1.5s;
}

@-webkit-keyframes chbg {
    0% {
        background-image: url(../images/801.png);
        -webkit-transform: scale(1.5,1.5);
    }

    33% {
        background-image: url(../images/802.png);
        -webkit-transform: scale(2.0,2.0);
    }

    66% {
        background-image: url(../images/803.png);
        -webkit-transform: scale(2.5,2.5);
    }

    100% {
        background-image: url(../images/804.png);
        -webkit-transform: scale(3.0,3.0);
    }
}

.changebg {
    -webkit-animation: chbg linear 1 0.5s forwards;
}

.theme {
    width: 130px;
    height: 122px;
    position: absolute;
    background-size: contain;
}


/** ->>page2 **/
#p2 {
    /* background: url(../images/p2-bg.png);*/
    z-index: 2;
}

    #p2 .content {
        z-index: 2;
    }




/** ->>page3 **/
#p3 {
    background: url(../images/p1-bg-1.png);
}

    #p3 .content {
        background: url(../images/p3-bg.png);
    }

        #p3 .content div {
            width: 181px;
            height: 55px;
            position: absolute;
            left: 338px;
            bottom: 206px;
        }

            #p3 .content div:first-child {
                left: 120px;
            }

            #p3 .content div:last-child {
                bottom: 123px;
                width: 340px;
                left: 151px;
            }


/** ->>page4 **/
#p4 {
    background: rgba(0,0,0,0.8);
}

    #p4 > .content {
        background: url(../images/p4-bg.png) center bottom;
    }

        #p4 > .content div {
            width: 253px;
            height: 76px;
            position: absolute;
            left: 184px;
            top: 545px;
        }



/** ->>page5 **/
#p5 > .content {
    background: url(../images/p5-bg.png);
}

#p5 input {
    width: 310px;
    height: 62px;
    position: absolute;
    left: 162px;
    top: 427px;
    font-size: 28px;
    color: #8da0c8;
    background: none;
}

#p5 > .content input::-webkit-input-placeholder {
    color: #8da0c8;
}

#p5 > .content div {
    width: 269px;
    height: 80px;
    position: absolute;
    left: 185px;
    bottom: 265px;
}



/** ->>page6 **/
#p6 > .content {
    background: url(../images/p6-bg.png);
}

#p6 .p6-title {
    width: 640px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 55px;
    font-size: 46px;
    line-height: 60px;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
}

#p6 textarea {
    width: 395px;
    height: 82px;
    position: absolute;
    left: 123px;
    top: 606px;
    font-size: 27px;
    line-height: 39px;
    background: none;
    color: #8da0c8;
}

#p6 > .content textarea::-webkit-input-placeholder {
    color: #8da0c8;
}

.p6-ready {
    width: 183px;
    height: 55px;
    position: absolute;
    left: 230px;
    top: 745px;
}

.p6-askfor {
    width: 425px;
    height: 55px;
    position: absolute;
    left: 110px;
    top: 828px;
}

.choosebox {
    width: 548px;
    height: 367px;
    position: absolute;
    left: 44px;
    top: 197px;
    overflow: hidden;
}

    .choosebox ul {
        width: 2740px;
        height: 367px;
        position: absolute;
        left: 0;
        /*background:red;*/
    }

        .choosebox ul > li {
            width: 548px;
            height: 367px;
            float: left;
        }

ol li {
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.first-line {
    width: 548px;
    height: 183px;
    float: left;
    /*background:yellow;*/
}

    .first-line li {
        width: 116px;
        height: 155px;
        margin: 16px 10px;
        /*background: blue;*/
        float: left;
    }

.last-line {
    width: 548px;
    height: 184px;
    /*background:green;*/
    clear: both;
}

    .last-line li {
        width: 160px;
        height: 156px;
        float: left;
        /*background: black;*/
        margin: 6px 10px;
    }

.p6-prev, .p6-next {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -55px;
    top: 330px;
}

.p6-next {
    left: 595px;
}

/** ->>page7 **/
#p7 {
    background: url(../images/bg2.jpg);
}

    #p7 .content {
        background: url(../images/p7-bg.png);
    }

    #p7 ul {
        width: 2060px;
        height: 159px;
        position: absolute;
        left: 0;
    }

        #p7 ul li {
            width: 206px;
            height: 159px;
            text-align: center;
            float: left;
        }

.p7-title {
    width: 640px;
    height: 60px;
    text-align: center;
    line-height: 61px;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    top: 20px;
}

.p7-gender {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 335px;
    top: 95px;
}

.p7-lady {
    width: 179px;
    height: 828px;
    position: absolute;
    left: 94px;
    top: 155px;
    background: url(../images/p7-lady.png) no-repeat center center;
}

.p7-lady-1 {
    width: 384px;
    height: 849px;
    position: absolute;
    left: 0;
    bottom: 10px;
    display: none;
}

.p7-face {
    width: 179px;
    height: 165px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

    .p7-face img {
        position: absolute;
    }

.p7-face-1 {
   width: 182px;
    height: 167px;
    position: absolute;
    z-index: 1;
    background: url(../images/head21.png) no-repeat;
    border-radius: 177px;
    background-size: 100%;
    left: 0;
    top: 3px;
}

/*#p7-face-1 {
    background-image: url(../images/head21.png);
    background-size: 100%;
    background-position-x: 2px;
}*/

.p7-1 {
    width: 220px;
    height: 398px;
    position: absolute;
    background: url(../images/201.png);
    background-repeat: no-repeat;
    top: 154px;
    left: -18px;
    z-index: 2;
}


.p7-2 {
    width: 163px;
    height: 460px;
    position: absolute;
    background: url(../images/301.png);
    background-repeat: no-repeat;
    top: 353px;
    left: 8px;
    background-position: center center;
    z-index: 0;
}

.p7-3 {
    width: 113px;
    height: 134px;
    position: absolute;
    background: url(../images/401.png);
    left: 39px;
    bottom: -10px;
    background-repeat: no-repeat;
}

.p7-box {
    width: 206px;
    height: 159px;
    position: absolute;
    left: 343px;
    top: 232px;
    border-radius: 15px;
    overflow: hidden;
}

.p7-btn {
    width: 60px;
    height: 70px;
    position: absolute;
    left: 282px;
    top: 275px;
}

.p7-change {
    width: 167px;
    height: 51px;
    position: absolute;
    bottom: 201px;
    left: 356px;
}

.p7-ready {
    width: 220px;
    height: 60px;
    position: absolute;
    bottom: 121px;
    left: 330px;
}

.p7-askfor {
    width: 413px;
    height: 60px;
    background: url(../images/p7-bg.png) 440px 106px;
    position: absolute;
    left: 200px;
    bottom: 48px;
}

#p7-cover {
    background: rgba(0,0,0,0.3);
    z-index: 2;
}

    #p7-cover .content {
        /*background: green;*/
    }

.imgbox {
    width: 537px;
    height: 495px;
    position: absolute;
    left: 52px;
    top: 200px;
    overflow: visible;
}

#moveobj {
    background: url(../images/a.png) no-repeat center center;
    background-size: 100%;
    border: 1px solid;
    overflow: hidden;
}

.imgbox img {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.p7-cover2 {
    position: absolute;
    background: url(../images/p7-cover.png);
    width: 640px;
    height: 1008px;
}

.p7-cover-btn {
    width: 130px;
    height: 60px;
    background-color: red;
    position: absolute;
    left: 255px;
    bottom: 200px;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
}



/** ->>page8 **/
#p8 {
    background: url(../images/bg2.jpg);
}

    #p8 .content {
        background: url(../images/p8-bg.png);
    }

.p8-title {
    width: 640px;
    height: 60px;
    text-align: center;
    line-height: 61px;
    font-size: 38px;
    font-weight: bold;
    position: absolute;
    top: 20px;
}

.p8-gender {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 468px;
    top: 95px;
}

.p8-ready {
    width: 220px;
    height: 60px;
    position: absolute;
    bottom: 165px;
    left: 380px;
}

.p8-askfor {
    width: 413px;
    height: 60px;
    background: url(../images/p7-bg.png) 439px 158px;
    position: absolute;
    left: 200px;
    bottom: 80px;
}

.p8-box {
    width: 272px;
    height: 698px;
    position: absolute;
    left: 135px;
    bottom: 140px;
    overflow: hidden;
}

    .p8-box ul {
        width: 1088px;
        height: 698px;
        position: absolute;
        left: 0;
    }

        .p8-box ul li {
            width: 272px;
            height: 698px;
            text-align: center;
            float: left;
        }

.p8-prev, .p8-next {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 30px;
    top: 322px;
}

.p8-next {
    left: 500px;
}

/** ->>page9 **/
#p9 {
    background: rgba(0,0,0,0.8);
}

    #p9 .content {
        background: url(../images/p9-bg.png);
    }

.p9-btn {
    width: 256px;
    height: 80px;
    position: absolute;
    left: 183px;
    top: 542px;
}




/** ->>page10 **/
#p10 {
    background: none;
}

    #p10 .content {
        background: url(../images/p10-bg.png);
    }

@-webkit-keyframes shake {
    from {
        -webkit-transform: rotate(-8deg);
    }

    to {
        -webkit-transform: rotate(8deg);
    }
}

.shake {
    -webkit-animation: shake 3 0.1s alternate linear;
}

.p10-img {
    width: 436px;
    height: 549px;
    position: absolute;
    background: url(../images/p10-img.png) no-repeat center center;
    left: 98px;
    top: 249px;
}

.p10-shake {
    width: 270px;
    height: 69px;
    position: absolute;
    bottom: 115px;
    left: 180px;
}

#p11 .content {
    background: url(../images/p11-bg.png);
}

.p11-taste, .p12-taste, .p13-taste, .p16-taste, .p17-taste {
    width: 100px;
    height: 130px;
    position: absolute;
    left: 139px;
    top: 404px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    font-size: 27px;
    line-height: 130px;
    font-weight: bold;
    word-break: break-word;
}

.p11-people, .p12-people, .p13-people, .p17-people {
    width: 135px;
    height: 430px;
    position: absolute;
    right: 164px;
    top: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.p11-confirm {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 220px;
    bottom: 155px;
}

.p11-backchoose {
    width: 341px;
    height: 60px;
    position: absolute;
    bottom: 68px;
    left: 141px;
}

#p12 .content {
    background: url(../images/p12-bg.png);
}

.p12-title {
    width: 316px;
    height: 60px;
    position: absolute;
    left: 165px;
    top: 107px;
    font-size: 32px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.p12-tell-ta {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 111px;
    top: 771px;
}

.p12-play-again {
    width: 200px;
    height: 60px;
    position: absolute;
    right: 115px;
    top: 772px;
}

.p12-suprise {
    width: 365px;
    height: 60px;
    position: absolute;
    position: absolute;
    bottom: 91px;
    left: 134px;
}

#p13 .content {
    background: url(../images/p13-bg.png);
}

.p13-reset {
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 256px;
    left: 110px;
}

.p13-suprise {
    width: 200px;
    height: 60px;
    position: absolute;
    bottom: 256px;
    right: 115px;
}

.p13-know {
    width: 361px;
    height: 60px;
    position: absolute;
    bottom: 171px;
    left: 137px;
}

.p13-msgbox {
    width: 505px;
    height: 95px;
    position: absolute;
    bottom: 21px;
    left: 63px;
    overflow: auto;
}

    .p13-msgbox ul li {
        width: 505px;
        height: 60px;
        overflow: hidden;
        margin: 10px 0;
    }

        .p13-msgbox ul li .p13-img {
            width: 60px;
            height: 60px;
            background-color: blue;
            margin-left: 10px;
            float: left;
        }

        .p13-msgbox ul li .p13-name {
            width: 100px;
            height: 60px;
            float: left;
            line-height: 60px;
            text-align: center;
            overflow: hidden;
            font-size: 20px;
            font-weight: bold;
        }

        .p13-msgbox ul li .p13-msg {
            width: 100%;
            height: 60px;
            font-size: 16px;
            line-height: 19px;
        }


#p14, #p15 {
    z-index: 2;
    background: rgba(0,0,0,0.8);
}

    #p14 .content {
        background: url(../images/share1.png);
    }

    #p15 .content {
        background: url(../images/shares.png);
    }
/*====================================== after shared ===============================================*/
#p16 {
    background: url(../images/p16-bg.png);
}

.p16-title {
    width: 328px;
    height: 60px;
    position: absolute;
    left: 157px;
    top: 40px;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
}

.p16-agree {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 114px;
    bottom: 252px;
}

.p16-disagree {
    width: 200px;
    height: 60px;
    position: absolute;
    right: 107px;
    bottom: 252px;
}

.p16-reset {
    width: 229px;
    height: 60px;
    position: absolute;
    left: 97px;
    bottom: 173px;
}

.p16-play {
    width: 197px;
    height: 60px;
    position: absolute;
    right: 92px;
    bottom: 173px;
}

.p16-check {
    width: 232px;
    height: 60px;
    position: absolute;
    left: 209px;
    bottom: 99px;
}

.p16-say {
    width: 348px;
    height: 60px;
    position: absolute;
    left: 150px;
    bottom: 19px;
}

#p16-1 {
    background: rgba(0,0,0,0.5);
}

.p16-cover {
    width: 640px;
    height: 1008px;
    position: absolute;
    z-index: 2;
    background: url(../images/p16-cover.png);
}

    .p16-cover textarea {
        width: 300px;
        height: 139px;
        position: absolute;
        left: 167px;
        top: 386px;
        background: none;
        font-size: 28px;
        color: white;
    }

.p16-over {
    width: 241px;
    height: 71px;
    position: absolute;
    left: 200px;
    top: 577px;
}

#p17 .content {
    background: url(../images/p17-bg.png);
}

.p17-title {
    width: 466px;
    height: 60px;
    position: absolute;
    left: 90px;
    top: 47px;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
}

.p17-agree {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 115px;
    bottom: 227px;
}

.p17-disagree {
    width: 200px;
    height: 60px;
    position: absolute;
    right: 109px;
    bottom: 227px;
}

.p17-play {
    width: 200px;
    height: 60px;
    position: absolute;
    right: 93px;
    bottom: 149px;
}

.p17-reset {
    width: 226px;
    height: 60px;
    position: absolute;
    left: 100px;
    bottom: 149px;
}

.p17-suprise {
    width: 226px;
    height: 60px;
    position: absolute;
    left: 210px;
    bottom: 77px;
}

#p18 {
    background: rgba(0,0,0,0.8);
}

    #p18 .content {
        background: url(../images/p18-bg.png);
    }

.p18-btn {
    width: 238px;
    height: 73px;
    position: absolute;
    left: 197px;
    bottom: 420px;
}


.p7-box ul li img {
    height: 100%;
}
